.content-wrap{
    padding: 1rem;
}
.submit-ul{
    width: 80%;
    margin: 0 auto;
}

.label-li span,.label-li b{width:50%;display: inline-block;}
.submit-ul select{
    width: 40%;
    margin: 0 auto;
    display: inline-block;
    margin-left: 9rem;
    line-height: 2rem;
    height: 2rem;
    padding-left: 1rem;
}
.submit-ul button{
    width: 70%;
    line-height: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1rem;
    background: #ffb3b3;
    display: inherit;
}
.submit-ul li{
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}
.color-red{color: red}
.submit-ul li:last-child{border:none}

.tou-zi-form .wrap{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 26px;
}
.tou-zi-form{
    background: #F5F5F5;
    border-bottom: 1px solid #ccc;
}
.tou-zi-form .wrap span,.tou-zi-form .wrap input{display:inline-block;float: left;width: 40%;line-height: 29px;padding-left: 10px;}
.tou-zi-form button{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #e41735;
    border: none;
}
.tou-zi{
    background: #f5f5f5;
    padding: 10px 0;
    padding-left: 20px;
}
.tou-zi a{
    font-size: 18px;
    color: #e85335;
}