*{
	margin: 0;
	padding: 0;
}
.collection_footer{
	width: 100%;
	height: 3rem;
	background: #32d2b0;
	position: fixed;
	bottom: 0;
	z-index: 10;
	padding-top: 0.3rem;
	box-sizing: border-box;
}
.collection_footer li{
	width: 25%;
	height: 100%;
	float: left;
	list-style-type: none;
	text-align: center;
	color: #FFFFFF;
}
.collection_footer i{
	display: block;
	line-height: 1.5rem;
	font-size: 1.2rem;
	color: #333;
}
.collection_footer p{
	font-size: 0.9rem;
	line-height: 1rem;
	color: #ffffff;
}
