*{margin: 0;padding: 0;}
/*banner图开始*/
.banner{width: 100%;height: 18rem;border-radius: 2rem;box-sizing: border-box;}
.banner img{width: 100%;height: 100%;}


/*收藏列表开始*/
.collection_list{
	width: 100%;
	overflow: hidden;
	/* padding-left: 2rem; */
	box-sizing: border-box;
	/* margin-top: 5%; */
	position: relative;
	padding-bottom: 7%;
}
.collection_list ul{
	width: 100%;
	overflow: hidden;
	background-color: #eaeaea;
}

.collection_list li{
	font-size: 2.5rem;
	color: #000000;
	text-align: center;
}
/* .collection_list li:nth-child(even){
	margin: 0;
} */
.collection_list_img{
	width: 100%;
	height: 80%;
	/* border: 1px solid #000000; */
	box-sizing: border-box;
	/*display: flex;*/
	align-items: center;
}
.collection_list_img form{width:100%}
.collection_list_img img{display: initial;width: 50%;float: left;max-height: 9rem;}
.collection_list_img p{margin-top: 1rem;line-height: 1rem;font-size: 1rem;}
.collection_list_img .box-bottom p{text-align:left;padding-left: 1rem;}
.collection_list_img .box-bottom{padding-bottom: 0.5rem;}
.collection_list li{margin-top:1rem;background: #fff;padding: 0.5rem;border-radius: 1rem;box-sizing: border-box;}
.box-bottom button{
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	box-shadow: none;
	border: none;
	background: #32d2b0;
	padding: 0.5rem 1.8rem;
	border-radius: 0.5rem;
	color: #fff;
}
/*收藏列表结束*/

/*查看更多开始*/
.more{
	width: 25%;
	height: 4rem;
	background: #32d2b0;
	position: absolute;
	bottom: 10%;
	left: 37%;
	font-size: 2rem;
	text-align: center;
	line-height: 4rem;
}
/*查看更多结束*/

.box-top>div{display:inline-block;float: left;padding: 1rem 0;width: 35%;text-align: left;margin-left: 2rem;}
.box-top{overflow:hidden}

.product-method{padding: 4rem;color: #000;font-size: 2rem;margin-top: 9.5rem;}
.product-method .method p{height: 3.5rem;margin-bottom: 2rem;color: #ffffff;border-radius: 0.5rem;box-shadow: 3px 3px 10px #b9b9b9;}
.product-method .method p span{display: block;margin: 0 auto;text-align: center;line-height: 3.5rem;}
.product-method .method p{background: #ccc;}
.product-method .method p.seleced{background: #32d2b0;}
.product-method .pay-info{display: none;}
.product-method .pay-info span{display: inline-block;min-width: 7rem;/* min-height: 2rem; */}
.product-method .pay-info p{margin-bottom: 0.8rem;font-size: 1rem;}
.product-method button{margin: 0 auto;box-shadow: 3px 3px 10px #b9b9b9;border: none;background: #32d2b0;padding: 0.7rem 4rem;border-radius: 0.5rem;color: #fff;font-size: 1rem;margin-top: 2rem;display: none;}
