<div class="breadcrumbs" id="breadcrumbs">
	<ol class="breadcrumb">
	<foreach name="navigate_admin" key="k" item="v">
	    <if condition="$k eq '后台首页'">  
	        <li><a onclick="return go_home()" href="{$v}"><i class="fa fa-home"></i>&nbsp;&nbsp;{$k}</a></li>
	    <else/>    
	        <li><a href="{$v}">{$k}</a></li>
	    </if>                  
	</foreach>          
	</ol>
</div>
<script>
	function go_home() {
		parent.location.href = "{:U('Seller/index/index')}";
		return false;
	}
</script>
